<header class="small bg-primary text-white">
  <div class="container text-center">
    <h1>Files</h1>
  </div>
</header>

<section id="files">
  <div class="container">

    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Filename" [(ngModel)]="newFile">
        </div>
        <button class="btn btn-block btn-success" (click)="createFile()">Create New File</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let file of files" class="file-item">
          <div class="file-item-head"><h2>{{file.title}}</h2></div>
          <div class="file-item-info">
            <span>Language: {{file.info.lang}}</span>
            <span>Created: {{file.info.create | date}}</span>
            <span>Updated: {{file.info.edit | date}}</span>
          </div>
          <div class="file-item-action">
            <button class="btn btn-block btn-primary" (click)="openFile(file)">Open</button>
            <button class="btn btn-block btn-danger" (click)="deleteFile(file)">Delete</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
