<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>File: {{file.title}}</h1>
    <p class="lead file-specs">Version: {{file.info.edit | date}}, Language: {{file.info.lang}}</p>
  </div>
</header>

<section id="edit">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="lang">Set file language to:</label>
          <select id="lang" [(ngModel)]="file.info.lang" class="form-control">
            <option value="english">English</option>
            <option value="dutch">Dutch</option>
            <option value="france">France</option>
            <option value="japanese">Japanese</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row editor">
      <div class="col-md-12">
        <div [froalaEditor] [(froalaModel)]="file.content"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-block btn-success" (click)="storeFile(file)">Save</button>
        <a class="btn btn-block btn-danger" href="/">Close</a>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  (function ($) {
    "use strict"; // Start of use strict

    // Remove license header
    setTimeout(function() {
      $('a').each(function(key, object){
        if($(object).attr('href') == 'https://www.froala.com/wysiwyg-editor?k=u'){
          $(object).remove();
        }
      });
    }, 600);

  }); // End of use strict
</script>
